{% extends "base/base.html" %}
{% block content %}
<h2>Tournaments</h2>
<a href="{% url 'tournament_create' %}" class="btn btn-primary">Add Tournament</a>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Edition</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in tournaments %}
        <tr>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.edition }}</td>
            <td>{{ tournament.start_date }}</td>
            <td>{{ tournament.end_date }}</td>
            <td>{{ tournament.location }}</td>
            <td>
                 <a href="{% url 'tournament_details' tournament.pk %}" class="btn btn-info btn-sm">Details</a>

                <a href="{% url 'tournament_update' tournament.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'tournament_delete' tournament.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
